/* NOTE
* ------------------------
* Be sure to generate your own SCSS files as necessary and include them in this `main.scss` file.
* We are looking for strong understanding of Sass and responsive behavior
*/
/* Mixins */
/* mixins/_placeholder.scss */
/* styles */
/* _colors.scss */
/* _form.scss */
form#movie-search input[name="movie"] {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #b4bac5;
  color: #b4bac5;
  width: 80%; }
  form#movie-search input[name="movie"]:placeholder.placeholder {
    color: #b4bac5; }
  form#movie-search input[name="movie"]:placeholder:-moz-placeholder {
    color: #b4bac5; }
  form#movie-search input[name="movie"]:placeholder::-webkit-input-placeholder {
    color: #b4bac5; }
  form#movie-search input[name="movie"]:placeholder:-ms-input-placeholder {
    color: #b4bac5; }
  form#movie-search input[name="movie"]:focus {
    outline: none; }

form#movie-search button[type="submit"] {
  background-color: #b4bac5; }

/* _ui.scss */
body {
  background: linear-gradient(#606C88, #3f4c6b);
  font-family: sans-serif;
  font-size: 11px;
  height: 100vh; }
  body .movies-search {
    background-color: #838ca1;
    padding: 20px 5% 10px;
    text-align: center; }
  body .container #movies-grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap; }
    body .container #movies-grid .movie-item {
      margin: 10px;
      position: relative; }
      body .container #movies-grid .movie-item .movie-item-poster img {
        height: 160px;
        width: 106px; }
      body .container #movies-grid .movie-item .tooltip {
        background-color: #b4bac5;
        border-radius: 10px;
        display: none;
        padding: 5px;
        position: absolute;
        top: 171px;
        z-index: 1; }
        body .container #movies-grid .movie-item .tooltip:before {
          border-color: transparent transparent #b4bac5 transparent;
          border-style: solid;
          border-width: 10px;
          content: '';
          height: 0;
          left: 15px;
          position: absolute;
          top: -20px;
          width: 0; }
      body .container #movies-grid .movie-item:hover .tooltip {
        display: block; }
