/* _form.scss */

form {
  &#movie-search {
    input {
      &[name="movie"] {
        background: transparent;
        border: 0;
        border-bottom: 1px solid $search-btn-background;
        color: $search-btn-background;
        width: 80%;
        
        &:placeholder {
          @include placeholder-color ($search-btn-background);
        }
        
        &:focus {
          outline: none;
        }
      }
    }
    
    button {
      &[type="submit"] {
        background-color: $search-btn-background;
      }
    }
  }
}