/* _ui.scss */

body {
  background: linear-gradient($background-start, $background-end);
  font-family: sans-serif;
  font-size: 11px;
  height: 100vh;
  
  .movies-search {
    background-color: $grey-1;
    padding: 20px 5% 10px;
    text-align: center;
  }
  
  .container {
    #movies-grid {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      
      .movie-item {
        margin: 10px;
        position: relative;
        
        .movie-item-poster {
          img {
            height: 160px;
            width: 106px;
          }
        }
      
        .tooltip {
          background-color: $grey-2;
          border-radius: 10px;
          display: none;
          padding: 5px;
          position: absolute;
          top: 171px;
          z-index: 1;
          
          &:before {
            border-color: transparent transparent $grey-2 transparent;
            border-style: solid;
            border-width: 10px;
            content: '';
            height: 0;
            left: 15px;
            position: absolute;
            top: -20px;
            width: 0;
          }
        }
        
        &:hover {
          .tooltip {
            display: block;
          }
        }
      }
    }
    
  }
}
